.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 90px);
    grid-auto-rows: 40px;
    grid-gap: 50px;
    margin-left: 50px;
}

.person {
    background-color: #eeeeee;
    text-align: center;
    font-size: small;
}

.person-name {
    margin-top: 10px;
    border: none;
}

.input {
    border: 1px #929aab;
    text-align: center;
}
